.af-main-header {
    position: relative;
    top: -16px;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
}

.main-header-list li {
    display: inline-block;
    float: right;
    margin-top: 15px;
}
.main-header-list a {
    font-family: 'Dosis';
    color: #dbdbdb;
    text-transform: uppercase;
    padding: 10px;
    /*font-weight: bolder;*/
}

#brand {
    font-family: 'Shadows Into Light';
    color: rgba(7, 243, 255, 1);
    font-weight: lighter;
    width: 250px;
    float: left;
    margin: 0px 10px 0px 10px;
}